*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/* ------------- Header ------------- */
header{
    width= 100%;
    height: 100vh;
    background-image: url(../image/Ya-Edmond.png);
    background-position: center;
    background-size: cover;

    
}

.menu{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    list-style: none;
}
nav li a {
    color: #fff;
    font-size: 42px;
}